.container {
    width: 31%;
    display: flex;
    margin: 10rem auto;
   
    justify-content: center;
}
.calculator{
    width: 50%;
    border-radius: 5px 5px 0 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.d-flex{
    gap: 5px;
    display: flex;
}
.circle{
    width: 10px;
    height: 9px;
    display: block;
    border-radius: 50%;
}
.red{
    background: red;
}
.green{
    background: green;
}
.purple{
    background: purple;
}
.calculator-title{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.color-theme{
    width: 28px;
    height: 13px;
    padding: 1px;
    border-radius: 50px;
    background: rgb(212 224 221);
}
.color-theme-dark{
    background: #18d4a3;
}
.dark-mood{
    width: 13px;
    height: 13px;
    display: block;
    border-radius: 50px;
    background: aliceblue;
}
table {
    width: 100%;
    border-collapse: collapse;

}
input{
    border: 0;
    display: flex;
    margin: 0 auto;
    outline: unset;
    color: #18d4a3;
    font-size: 30px;
    font-weight: 800;
    text-align: right;
    align-items: center;
    justify-content: center;
}
.myButton {
    width: 95%;
    padding: 7px;
    border: unset;
    display: flex;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.myButton-dark{
    color: #18d4a3 !important;
    background: hsl(221.25deg 32.65% 19.22%) !important;
}
td {
    padding: 10px;
}
.screen {
    margin-bottom: 10px;
    width: calc(100% - 20px);
    background:hsl(166.67deg 69.23% 97.45%);
}
.screen-dark{
    background: hsl(221.25deg 32.65% 19.22%);
}

.keys {
    gap: 10px;
    padding: 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.keys-dark{
    border-radius: 0px 0 10px 0px;
    background: hsl(221.14deg 27.56% 24.9%);
}
.button,
.operator,
.clear,
.equal-sign{
    width: 100%;
    font-size: 26px;
    cursor: pointer;
}
.color{
    color: #4a4a4a;
    font-size: 21px;
    font-weight: 900;
}
.color-equal{
    color: white;
    background: #18d4a3;
}
button{
    border: unset;
    background: unset;
}
.calculator__history {
    margin-top: 20px;
}
.button-dark{
    color: hsl(153.33deg 9.28% 61.96%);
}

.calculator__history-list {
    padding: 0;
    list-style: none;
}
.theme-color{
    background:hsl(166.67deg 69.23% 97.45%);
    border-radius: 0px 5px 0px 0;
}
.theme-color-dark{
    border-radius: 0 5px 0px 0px;
    background: hsl(221.25deg 32.65% 19.22%);
}

#history{
    padding: 25px;
    display: flex;
    font-size: 17px;
    color: #95a79f;
    font-weight: 700;
    overflow-y: auto; 
    margin-top: 22px;
    max-height: 200px;  
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid rebeccapurple; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */   
  }
.clear{
    margin: 0;
    width: 100%;
    display: flex;
    cursor: pointer;
    color: #95a79f;
    align-items: center; 
  }
#clear{
  cursor: pointer;
  width: 17%;
  padding: 5px;
  font-weight: 700;
  border-radius: 5px;
  /* border: 1px dashed rebeccapurple; */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.light-mood{
  padding: 4px;
}
 
img{
    width: 100%;
}
.historyDiv{
    width: 60%;
    padding: 10px;
    background: #f4fdfb;
    border-radius: 8px 0 0 14px;
}
.historyDiv p{
    font-size: 20px;
    font-weight: 700;
    color: #879aac;
 
}
.dark-tame{
background-color:#23262c;
}

.color-dark{
    color: aliceblue;
}
#result2{
    font-size: 14px;
    color: #95a79f;
}


 